---
title: Documentation en direct de Brightcove
parent: null
---

<style>
  h1 { margin-bottom: 0; }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1 style="font-weight: bold;">{{ site.title }}</h1>
    <table width="100%" border="0">
	<tbody>
		<tr>
			<td width="30%">
			<div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6045789900001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
			<td width="70%">
			<h2>Brightcove Live</h2>

			<p>Le module Live est utilisé pour diffuser des événements en direct à la fois sur les ordinateurs de bureau et les appareils mobiles. Lorsque vous aurez saisi les informations sur l'événement dans le module Live, vous obtiendrez un ensemble de paramètres d'encodage à intégrer dans l'encodeur de votre site. La conversion se fait dans le nuage ; vous n'avez donc pas besoin d'un convertisseur matériel.</p>

			<p>Pour les cas d'utilisation et les intégrations plus complexes, vous pouvez également utiliser l'API Live.</p>
			</td>
		</tr>
	</tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">

      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">Voir tout...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>